$focus-primary-color: #e74b33;
$focus-secondary-color: #fecfef;

$short-break-primary-color: #358b1b;
$short-break-secondary-color: #fecfef;

$long-break-primary-color: #236975;
$long-break-secondary-color: #fecfef;
